
@{
    ViewData["Title"] = "Index";
}


<section class="projects-section bg-light">
    <div class="box">
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-7 col-lg-7">
                <img class="img-fluid mb-5 mb-lg-0" src="img/pekara.jpg" alt="">
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>O nama</h4>
                    <p class="text-black-50 mb-0">Pekara Konjic razvila se 2009. godine kao ideja da se u vrijeme kada je svaka minuta bitna, kupcima uštedi vrijeme te im se uz vrhunsku uslugu isporuče najbolji proizvodi. Naša ciljna skupina nisu samo mladi, studenti i poslovni ljudi, vec i stariji i nemocni koji se sve više koriste raznim savremenih vrstama tehnologije. Dobrodošli u pekaru Konjic i dozvolite da vam našom uslugom i proizvodima poboljšamo svakodnevnicu!</p>
                </div>
            </div>
        </div>     
        
        <hr />

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="img/vim/1.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-black-50">Misija</h4>
                            <p class="mb-0 text-black-50">Naša misija je održavanje i razvijanje novih znanja i kompetencija naših zaposlenika. Shodno tome, želimo osigurati samo najbolje proizvode i usluge za naše kupce i ništa manje od toga.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="img/vim/2.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-black-50">Vizija</h4>
                            <p class="mb-0 text-black-50">Vizija pekare Konjic jeste da proširi svoje djelovanje van opstine i postane jedan od vodećih online pekara na prostoru Bosne i Hercegovine, te postati najpoželjniji poslodavac na ovim prostorima.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<hr />

<section class="testimonials text-center bg-light" style="padding:30px">
    <div class="container">
        <h2 class="mb-5">Priče našeg tima...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-2" src="img/uposlenici/1.jpg" alt="">
                    <h5>Hana E.</h5>
                    <p class="font-weight-light mb-0">"<i>Svoj rad sa pekarom Konjic sam zapocela kao studentica, nakon završenog studija primljena sam u odjel marketinga gdje i dalje ucim od najboljih i razvijam svoju karijeru u brzorastućoj modernoj tvrtki!"</i></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-2" src="img/uposlenici/2.jpg" alt="">
                    <h5>Mario S.</h5>
                    <p class="font-weight-light mb-0">"<i>U pekari Konjic zaposlio sam se 2016. godine kao djelatnik u logistici. Pekara Konjic je prepoznala moj potencijal te sam 2018. godine postao direktor upravljanja kvalitetom i standardima. Pekara Konjic prepoznaje talente i svako tko je vrijedan ima šansu da kod nas napravi nešto veliko."</i></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-2" src="img/uposlenici/3.jpg" alt="">
                    <h5>Emina V.</h5>
                    <p class="font-weight-light mb-0"><i>"Kao gluho nijema osoba i bez završene srednje škole uspjela sam dobiti posao u pekari Konjic jer su prepoznali moje kvalitete i želju za radom, bez ikakvih predrasuda. Tvrtka prihvaća različitosti i one nas čine uspjesnima."</i></p>
                </div>
            </div>
        </div>
    </div>
</section>

